/* Estilos reutilizables*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;    
}

h2 {
    font-size: 2em;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    height: 535px;
    width: 100%;
}

article {
    width: 24%;
    height: 447px;
    display: inline-block;
    top: 5%;
    left: 5%;
    position: relative;
}

article>h2 {
    margin-bottom: 6%;
    font-weight: 500;
    font-stretch: ultra-condensed;
    font-size: 1.8em;
}

article>p {
    font-stretch: expanded;
    line-height: 1.4em;
    text-align: left;
}

iframe {
    height: 535px;
    width: 66.7%;
    float: right;
}

.font-size {
    font-size: 0.8em;
}



/*Estilos individuales*/

/* Header */
header {
    background-color: transparent;
    height: 113px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

header>img {
    width: 5%;
    left: 5.5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header>img.logopink{
    visibility: hidden;
    left: 0.2%;
}

header>nav {
    overflow: hidden;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 42%;
}

header>nav>ul>li {
    float: left;
    list-style: none;
    height: 45%;
    font-size: 1.2em;
    font-weight: 300;
    margin: 0 2%;
    padding: 2% 3%;
    color: #ffffff;
}

header>nav>ul>li.border-login {
    border: 1px solid white;
    border-radius: 7px;
}    

header>nav>ul>li.visibility-sing-up {
    visibility: hidden;
    border: 1px solid #FF00BF;
    color: #FF00BF;
    border-radius: 7px;
}    

.hover-color:hover {
    color: #FF00BF;
}

/*header scroll*/

.header-scroll {
    background-color: #ffffff;
}

.header-scroll>nav>ul>li {
    color: #464545;
}

.header-scroll>nav>ul>li.visibility-sing-up {
    visibility: visible;
}    

.header-scroll>img.logowhite{
    visibility: hidden;
}

.header-scroll>img.logopink {
    visibility: visible;
}

.header-scroll>nav>ul>li.border-login {
    border: 1px solid #c9c7c7;
}    

/* --Intro-- */
.intro {
    height: 535px;
    position: relative;
    overflow: hidden;
}

.intro>img {
    width: 100%;
    size: unset;
    transform: translateY(-15%);
}

.intro>form {
    position: absolute;
    top: 30%;
    height: 426px;
    width: 42%;
    right: 0;  
    top: 20%; 
    background-color: #fff;
}

.intro>form>div>h2 {
    color: #352384;
    font-size: 42px;
    line-height: 0.94;
}

.intro>form>div>p {
    color: #352384;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}

.intro>form>div>span {
    font-size: 0.6rem;
    color: #728099;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 10%;
}

.intro>form>div>span>a {
    text-decoration: none;
    color: #728099;
}

.intro>form>div>span>a:hover {
    color: #FF00BF;
}

.phone {
    display: block;
    border-style: none;
    border-bottom: 1px solid #352384;
    margin-top: 25px;
    padding-bottom: 5px;
    padding-right: 40%;
    font-size: 1rem;
    outline: none;
    font-weight: 500;
}

.become {
    border-style: none;
    border-radius: 5px;
    padding: 14px;
    background-color: #FF00BF;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: .75rem 1.25rem;
    font-size: 1rem;
    margin-top: 6%;
    letter-spacing: .5px;
    margin-bottom: 5%;
}

.sign {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    text-decoration: underline;
    outline: none;
    padding: 20px 12px;
    font-size: 1rem;
    letter-spacing: .5px;
    color: #728099;
}

.sign:hover {
    color: #FF00BF;
}

.content {
    position: relative;
    left: 12%;
    top: 15%
}

/* --Main--*/

.main {
    width: 100%;
    height: 613px;
    background: linear-gradient(#76278F,#2B1E66);
}

.main>img {
    display: block;
    position: relative;
    left: 55%;
    width: 480px;
    bottom: 68%;
}

.main>div {
    width: 32%;
    height: 480px;
    left: 12%;
    position: relative;
    color: #fff;
    top: 10%;
}

.main>div>p {
    font-size: 1.2em;
}

.main>div>h2 {
    margin-bottom: 2%;
}

/* --Article--*/
.position {
    float: left;
}

/*--Footer--*/
footer {
    height: 545px;
    background-color: #333447;
    color: #fff;
}

footer ul>li>img {
    width: 140px;
}

footer>div {
    column-count: 4;
    height: 275px;
    width: 80%;
    margin: 0 auto;
    top: 12%;
}

footer>div>a {
    display: block;
    margin: 8% 0;
    font-weight: 200;
}

footer>div>a:hover {
    color: #FF00BF;
    cursor: pointer;
}

footer>div,footer>span, footer>ul {
    position: relative;
    display: block;
}

footer>ul {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    position: relative;
    top: 10%;
    text-align: center;
    width: 30%;
}

footer>ul>li {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid white;
    list-style: none;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 4%;
}

footer>ul>li>span {
    position: relative;
    top: 30%;
}

footer>hr {
    position: relative;
    top: 13%;
    width: 50%;
    margin: 0 auto;
}

footer>span {
    position: relative;
    top: 22%;
    text-align: center;
}

footer>span>a {
    color: white;
    text-decoration: none;
}    

footer>span>a:hover {
    color: #FF00BF;
}